flows.json
[{"id":"739a5324.f09c6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d0ccfb7b.216518","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1580f6f1.ce2509","type":"mqtt-broker","name":"","broker":"hairdresser.cloudmqtt.com","port":"17758","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f31e9d6f.ade0a","type":"mqtt-broker","name":"","broker":"moose.rmq.cloudamqp.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"42dc0838.1f26f8","type":"mqtt in","z":"739a5324.f09c6c","name":"","topic":"location","qos":"0","datatype":"json","broker":"f31e9d6f.ade0a","x":170,"y":60,"wires":[["6490dfaa.bae86","1c9b86c3.53f2d9"]]},{"id":"6490dfaa.bae86","type":"debug","z":"739a5324.f09c6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"6db9948c.62e05c","type":"worldmap","z":"739a5324.f09c6c","name":"worldmap","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":480,"y":280,"wires":[]},{"id":"88e66ba2.5a4908","type":"inject","z":"739a5324.f09c6c","name":"Lat-Krabang-Car","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":{\"layer\":\"OSM grey\",\"lat\":13.723379,\"lon\":100.783883,\"zoom\":15},\"name\":\"Lat-Krabang-Car\",\"lat\":13.723379,\"lon\":100.783883,\"icon\":\"fa-car\"}","payloadType":"json","x":200,"y":280,"wires":[["2c9a2ac6.b92f06"]]},{"id":"2c9a2ac6.b92f06","type":"debug","z":"739a5324.f09c6c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":380,"wires":[]},{"id":"f0b6edd7.1adff","type":"inject","z":"739a5324.f09c6c","name":"Kmitl-Car","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":{\"layer\":\"OSM grey\",\"lat\":13.7299,\"lon\":100.7782,\"zoom\":15},\"name\":\"KMITL-Car\",\"lat\":13.7299,\"lon\":100.7782,\"icon\":\"fa-car\"}","payloadType":"json","x":180,"y":380,"wires":[["2c9a2ac6.b92f06"]]},{"id":"4b100408.fc9b7c","type":"inject","z":"739a5324.f09c6c","name":"Siam-paragon-Car","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"command\":{\"layer\":\"OSM grey\",\"lat\":13.7461,\"lon\":100.5342,\"zoom\":15},\"name\":\"Siam-paragon-Car\",\"lat\":13.7461,\"lon\":100.5342,\"icon\":\"fa-car\"}","payloadType":"json","x":210,"y":440,"wires":[["2c9a2ac6.b92f06"]]},{"id":"1c9b86c3.53f2d9","type":"function","z":"739a5324.f09c6c","name":"send_data_to_map()","func":"msg.payload = {\n    \n        \"command\": {\n            \"layer\": \"OSM grey\",\n            \"lat\": msg.payload.Latitude,\n            \"lon\": msg.payload.Longitude,\n            \"zoom\": 15\n        },\n        \"name\": \"GPS-Module-Car\",\n        \"lat\": msg.payload.Latitude,\n        \"lon\": msg.payload.Longitude,\n        \"icon\": \"fa-car\"\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["6db9948c.62e05c","6490dfaa.bae86"]]}]